.drawerBox {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 20px;
  /* padding-bottom: 20px; */
}

.inputBox,
.perfBox,
.containerBox {
  display: flex;
  justify-content: space-between;
}

.inputText {
  width: 165px;
  height: 40px;
}

.perfBox,
.containerBox {
  padding-top: 20px;
}

.submit {
  width: 100%;
  height: 40px;
}
